@import url('example-min.css');

@font-face {
    font-family: 'mainfont';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

h1.main::before, h1.sub::before, h1.page::before {
    margin-top: -7px;
}