@import url('../css/example-min.css');

@font-face {
    font-family: 'mainfont';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1.main::before, h1.sub::before, h1.page::before {
    margin-top: -7px;
}