@import url('../css/example-min.css');

@font-face {
    font-family: 'mainfont';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

h1.main::before, h1.sub::before, h1.page::before {
    margin-top: -12px;
}