@import url('./example-min.css');

@font-face {
    font-family: 'mainfont';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoHongdaeFreedomA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
