@import url('../css/example-min.css');

@font-face {
    font-family: 'mainfont';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1.main::before, h1.sub::before, h1.page::before {
    margin-top: -10px;
}